# Question 1

In [47]:
a = 0
def b():
   global a
   a = c(a)
def c(a):
   return a + 2

In [48]:
b() # b() calls a = c(a) and contains global a, which calls function c(a), a gets incremented to 2
b() # Again a is incremented by 2, now a = 4
b() # a is incremented by 2, a is 6 now
a # Final value of a is 6

6

# Question 2

In [113]:
def fileLength(fileName):
    
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(info))
        
    except:
        print(' File ' + fileName + ' not found.')

In [114]:
fileLength('idterm.py')

 File idterm.py not found.

# Question 3

In [23]:
class Marsupial:
    
    def __init__(self):
        self.dictionary = []
        
    def put_in_pouch(self, item):
        self.dictionary.append(item)
        
    def pouch_contents(self):
        print(self.dictionary)
        
class Kangroo(Marsupial):
    
    def __init__(self, dx, dy):
        self.x = dx
        self.y = dy
        Marsupial.__init__(self)
        
    def jump(self, ddx, ddy):
        self.x += ddx
        self.y += ddy
        
    def __str__(self):
        string = 'Im a kangroo located at coordinates ({},{})'.format(self.x,self.y)
        return string

In [24]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangroo(0, 0)
print(k)
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
Im a kangroo located at coordinates (0,0)
Im a kangroo located at coordinates (3,0)

# Question 4

In [9]:
def collatz(num): 
    print(num) 
    while num != 1: 
        if num % 2 == 0: 
            num = int(num/2) 
        else: 
            num = 3* num +1 
        print(num)

In [10]:
collatz(1)

1

In [11]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [44]:
def binary(num):
    if num == 0:
        return 0
    else:
        binary(num//2)
    print(num%2, end ='')

In [45]:
binary(1)

1

In [47]:
binary(22)

10110

# Question 6

In [156]:
from html.parser import HTMLParser

class HeadingParser (HTMLParser):
    
    headers = ['h1', 'h2'] # Headers

    def handle_starttag(self, tag, attrs): 
        if tag in self.headers: 
            print(tag, end= " ")

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag, end= " ")

    def handle_data(self, data):
        print(data, end= " ")

In [157]:
parser = HeadingParser() 
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser() 
hp.feed(content)

   Change_me







	 h1 W3C Mission h1
	 h2 Principles h2

# Question 7

In [106]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Fetch(HTMLParser):
    def _init_(self, url):
        HTMLParser._init_(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
    content = urlopen(url).read().decode()
    collector = Fetch(url)
    collector.feed(content)
    urls = Collector.getLinks()
    print("\t"*indent+"{}".format(url))
    for link in urls:
        webdir(link,depth-1,indent+1)

In [107]:
webdir('http://reed.cs.depaul.edu/lperkovic/test2.html', 2, 0)

TypeError: __init__() takes 1 positional argument but 2 were given

# Question 8

In [125]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\pritp\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: sqlparse in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\pritp\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\pritp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\pritp\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\pritp\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pritp\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: executing in c:\users\pritp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\pritp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\pritp\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [126]:
import sqlite3

In [130]:
con = sqlite3.connect('assignment_2.db')
cur = con.cursor()
cur.execute("CREATE TABLE RAINFALL11 (City text, Country text, season text, Temperature float, Rainfall float)")

In [131]:
con.commit()
con.close()

In [133]:
con =sqlite3.connect('assignment_2.db')
cur = con.cursor()

In [134]:
cur.execute("INSERT INTO RAINFALL11 VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [135]:
cur.execute("INSERT INTO RAINFALL11 VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO RAINFALL11 VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [136]:
con.commit()
con.close()

In [137]:
con = sqlite3.connect('assignment_2.db')
cur = con.cursor()
cur.execute('SELECT * FROM RAINFALL11')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [138]:
cur.execute("SELECT Temperature FROM RAINFALL11") # part 1
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [139]:
cur.execute("SELECT DISTINCT City FROM RAINFALL11") # cities without repetition
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [140]:
cur.execute("SELECT * FROM RAINFALL11 WHERE Country = 'India'") # Only for India record
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [141]:
cur.execute("SELECT * FROM RAINFALL11 WHERE Season = 'Fall'") # Fall record
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [142]:
cur.execute("SELECT City,Country,Season FROM RAINFALL11 WHERE Rainfall BETWEEN 200 AND 400") # Average rainfall between 200 and 400 ml
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [143]:
cur.execute("SELECT City, Country FROM rainfall11 WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature") # temp above 20 in increasing order
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [144]:
cur.execute("SELECT SUM(Rainfall) AS 'Total_Rainfall' FROM rainfall11 WHERE City = 'Cairo'") # Cairo city record
cur.fetchall()

[(27.6,)]

In [145]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall11 WHERE Season = 'Winter'") # Winter season
cur.fetchall()

[(230.1,)]

In [147]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall11 WHERE Season = 'Spring'") # Spring season
cur.fetchall()

[(192.29999999999998,)]

In [151]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall11 WHERE Season = 'Fall'") # Fall season
cur.fetchall()

[(569.0,)]

In [152]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall11 WHERE Season = 'Summer'") # Summer season
cur.fetchall()

[(1706.5,)]

In [153]:
con.commit()
con.close()

# Question 9

In [30]:
words =['The','quick', 'brown', 'fox','jumps','over','the','lazy','dog']

In [31]:
list = [i.upper() for i in words] # words in uppercare
print(list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [32]:
list2 = [i.lower() for i in words] # words in lower case
print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [33]:
list3 = [len(i) for i in words] # Length of words displayed
print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [34]:
list4 = [[i.upper(),i.lower(),len(i)] for i in words] # Uppercase, lowercase and length displayed for each word
print(list4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [35]:
list5 = [i for i in words if len(i) >= 4] # Words of length 4 and above displayed
print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']